@import './colors.scss';

:root {
  font-size: 16px;
}

* {
  box-sizing: border-box;
  outline: 0;
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  background: linear-gradient($red1, $black 90%) no-repeat;
  color: $white;
  -webkit-font-smoothing: antialiased;
}

body, button, input {
  font-size: 1rem;
  font-family: 'Source Sans Pro', sans-serif;
}

button {
  cursor: pointer;
}

h1, h2, h3, h4, p {
  margin: 0;
}

h1, h2 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  letter-spacing: -0.02em;
}

h1 {
  font-size: clamp(1.2rem, 3vw, 1.875rem);
}

h2 {
  font-size: clamp(1,125rem, 3vw, 1.6875rem);
}

h3, p {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: clamp(1.025rem, 3vw, 1.125rem);
}

h3 {
  font-weight: 700;
  letter-spacing: 0.1em;
}

ul, li {
  list-style: none;
  margin: 0;
  padding: 0;
}

img {
  display: block;
  width: 100%;
}

button, input {
  display: block;
  font-size: 1rem;
}

a {
  text-decoration: none;
}
