@import '../../styles/colors.scss';

.heroCardLoading {
  width: 212px;
  height: 400px;
  background-color: $gray1;
  position: relative;
  overflow: hidden;


  &:nth-child(even) {
    position: relative;
    top: 20px;
  }
  .loading {
    position: absolute;
    height: 50px;
    width: 400px;
    background-color: $gray2;
    bottom: -450px;
    left: -50%;
    filter: blur(50px);
    animation: slide 1s infinite ease;
  }
}

.comicCoverLoading {
    width: 192px;
    height: 286px;
    background-color: $gray1;
    transition: all 1s ease;
    margin-left: 6px;
    margin-right: 6px;
    margin-bottom: 32px;
    position: relative;
    overflow: hidden;

    .loading {
    position: absolute;
    height: 50px;
    width: 400px;
    background-color: $primary;
    bottom: -336px;
    left: -50%;
    filter: blur(50px);
    animation: slide 1s infinite ease;
  }

  }

@keyframes slide {
  from {
    top: 450px;
  } to {
    top: -150px;
  }
}
