@import '../../styles/colors.scss';

.detailsBackground {
  max-width: 1072px;
  height: 100%;
  margin: 0 auto;
  padding-left: 12px;
  padding-right: 12px;
  padding-top: 48px;
  margin-top: 110px;
  background-color: $black;
  position: relative;
}

.goBackButton {
  margin-right: 74px;
  height: 45px;
  width: 45px;
  background-color: $primary;
  border: 0;
  outline: none;
  border-radius: 50%;
  transition: all 0.1s ease-in;

  svg {
    position: relative;
    top: 2px;
    right: 2px;
  }

  &:hover {
    transform: scale(1.1);
    background-color: darken($primary, 10)
  }
}

.description {
  display: flex;
  position: relative;

  .heroName {
    position: relative;
    top: 32px;
    left: -75px;
    padding: 2px 8px;
    background-color: $black;
    margin-bottom: 60px;
  }

  .heroPortrait {
    width: 212px;
    height: 402px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin-right: 35px;
    flex-shrink: 0;
  }

  p {
    max-width: 42ch;
    line-height: 1.875rem;
  }
}

.comicsDisplay{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 50px;
}


.comicsSection {
  margin-top: 69px;
  padding-left: 85px;
  padding-right: 85px;

  .comicContainer{
    position: relative;
  }

  .comicsTitle {
    display: flex;
    margin-bottom: 36px;

    svg {
      margin-right: 14px;
    }
  }

  .comicCover {
    width: 192px;
    height: 286px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    backface-visibility: hidden;
    transform-origin: center;
    transition: all 1s ease;
    transform-style: preserve-3d;
    margin-left: 6px;
    margin-right: 6px;
    margin-bottom: 32px;
  }

  .comicDetails{
    width: 192px;
    height: 286px;
    background-color: $primary;
    position: absolute;
    top: 0;
    left: 6px;
    transform-origin: bottom;
    transition: opacity 0.5s ease;
    padding: 6px;
    opacity: 0;
    display: flex;
    justify-content: center;
    align-items: center;

    h3 {
      text-align: center;
    }

    &:hover {
      opacity: 1;
    }
  }
}
